<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>vue-calculator</title>
  </head>
  <body>
    <noscript>
      <strong>Add javascript</strong>
    </noscript>
    <div id="app"></div>
   
  </body>
</html>
